<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>TT A-103</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>

<header class="navbar">

    <div class="logo">

    </div>

  <nav class="menu">
    {% if session.get('can_manage') %}
    <div class="dropdown">
        <a href="#" class="dropbtn">Ajustes <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
            <a href="{{ url_for('nuevoAdmin') }}">
                <i class="fas fa-user-plus"></i> Agregar Administrador
            </a>
            <a href="{{ url_for('gestionar_admins') }}">
                <i class="fas fa-user-minus"></i> Eliminar Administrador
            </a>
        </div>
    </div>
    {% endif %}

    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
</nav>
</header>


<main class="contenido">

    <div class="dashboard-grid">
        <a href="{{ url_for('usuario') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-user"></i></span>
                <h3>Usuario</h3>
                <p>Información general de los datos personales del usuario</p>
            </div>
        </a>

         <a href="{{ url_for('emg') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-wave-square"></i></span>
                <h3>Adquisición EMG</h3>
                <p>Señales Musculares</p>
            </div>
        </a>

        <a href="{{ url_for('modelo_view') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-brain"></i></span>
                <h3>Modelo de IA</h3>
                <p>Funcionamiento principal y características</p>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-cogs"></i></span>
                <h3>Diseño mecánico</h3>
                <p>Estructura y Planos</p>
            </div>
        </a>
    </div>

</main>


<footer class="footer">
    © 2026 TT A - 103. All rights reserved.
</footer>

</body>
</html>