<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>TT A-103</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vistaModelo.css') }}">
</head>

<body>

<header class="navbar">
    <div class="logo"></div>
    <nav class="menu">
        <a href="{{ url_for('home') }}">Inicio</a>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </nav>
</header>

<main class="contenido">

    <div class="dashboard-grid">
        <a href="{{ url_for('csv') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-file-csv"></i></span>
                <h3>CSV</h3>
                <p>Preparación de los csv para el entrenamiento del modelo</p>
            </div>
        </a>

         <a href="{{ url_for('emg') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-microchip"></i></span>
                <h3>Características</h3>
                <p>Extracción de características</p>
            </div>
        </a>

        <a href="{{ url_for('modelo') }}" class="card-link">
            <div class="card">
                <span class="icon"><i class="fas fa-network-wired"></i></span>
                <h3>Modelo de IA</h3>
                <p>Entrenamiento del modelo</p>
            </div>
        </a>
    </div>

</main>

<footer class="footer">
    © 2026 TT A - 103. All rights reserved.
</footer>

</body>
</html>